[Unit]
Description=SAIBOMAMI NEKO.SYNC Node server
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/saibomami
Environment=NODE_ENV=production
Environment=PRODUCTION=true
Environment=PORT=8000
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=5
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
